@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(240, 255, 245);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #a8adca !important
}

html::-webkit-scrollbar {
    display: none
}